<li>
	{{flavor}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EATEN UP!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-flavor" data-id="{{this.id}}">DELETE!</button>
</li>
