{{!-- removing this as my 9/12/18 update to try to get app working --}}

{{!-- <li>
	{{flavor}}

	<button class="eat-cone" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EATEN UP!{{else}}Eat up!{{/if}}
	</button>

	<button class="delete-flavor" data-id="{{this.id}}">Delete this</button>
</li> --}}
